<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header id="page-header">
    <div id="page-header-img" class="home-page-header-img">
      <div id="page-header-img-darken"></div>
    </div>

    <div class="header-content page-padding">
      <!-- NAVBAR -->
      <%- include('./particles/Navbar.ejs') %>
        <!-- ---------------------------------- -->

        <div class="left m-center-column">
          <h1 id="site-title">Welcome to <br> <span>Thrope Park</span></h1>
          <a id="site-cab" class="action-btn-light image-button" href="/">Start exploring</a>

          <div id="timing-box" class="abs center-column">
            <h2>Opening Times</h2>
            <p>Everyday</p>
            <p>09:00 AM - 07:00 PM</p>
            <p>April - October</p>
          </div>
        </div>
    </div>
  </header>

  <main class="center-column">
    <!-- REVIEWS -->
    <%- include('./particles/Reviews.ejs') %>
      <!-- ---------------------------------- -->

      <div class="page-padding div-top-gap center-column">
        <%- include('./particles/ImgTextButtonDiv.ejs', { imgAlign: "right" , title: "We know you'll love Thrope Park!"
          ,
          bodyText: "head back to your own personal cabin to relax and recharge after a day packed full of thrills! Our bite-sized rooms have everything you need for a perfect night's rest to refuel including complimentary wi-fi, tea and coffee making facilities, interactive TV, mood lighting, en-suite with rain shower and super comfy beds!"
          , linkHref: "/areas" , linkText: "Go To Areas" , imgPath: "./images/parkimages/areas.jpg" , imgAlt: "areas" })
          %>

          <%- include('./particles/ImgTextButtonDiv.ejs', { imgAlign: "left" , title: "We know you'll love Thrope Park!"
            ,
            bodyText: "head back to your own personal cabin to relax and recharge after a day packed full of thrills! Our bite-sized rooms have everything you need for a perfect night's rest to refuel including complimentary wi-fi, tea and coffee making facilities, interactive TV, mood lighting, en-suite with rain shower and super comfy beds!"
            , linkHref: "/areas" , linkText: "Go To Rides" , imgPath: "./images/parkimages/rides.jpg" , imgAlt: "areas"
            }) %>
      </div>

      <div id="gallery-wrapper">
        <h2 id="gallery-title" class="div-title">Gallery</h2>
        <div id="gallery" class="carousel-image">
          <img class="carousel-image-item" src="./images/parkimages/gallery-pic1.jpg" alt="">
          <img class="carousel-image-item" src="./images/parkimages/gallery-pic2.jpg" alt="">
          <img class="carousel-image-item" src="./images/parkimages/gallery-pic3.jpg" alt="">
        </div>
      </div>

      <div id="mission-wrapper">
        <h2 class="div-title">Our Mission</h2>
        <div id="mission" class="center-column">
          <img src="../images/parkimages/realceo.jpg" alt="picture of CEO">
          <h3>Daniel Parker, CEO</h3>
          <p>“Hear ye, within the sacred grounds of Thrope Park, we pledge to weave tales of joy and wonder,
            crafting
            experiences that transport the soul to realms both fantastical and enchanting. Our noble quest is to
            provide
            resplendent entertainment, where laughter dances upon the breeze and memories are etched into the annals
            of
            time.”</p>
        </div>
      </div>

      <%- include('./particles/Contactus.ejs', {title: "Contact Us", messageLabelText: "Message:", submitButtonText: "Send"}) %>

  </main>
</body>

</html>