<div class="card center-column">
  <img src=<%= imgPath %> alt=<%= imgAlt %>>
  <div class="card-contents center-column">
    <h3 class="card-title"><%= title %></h3>
    <p><%= bodyText %></p>
    <a class="dark-button" href="<%= linkHref %>"><%= linkText %></a>
  </div>
</div>