<div class="image-text-div-<%= imgAlign %>">
  <div class="text-section">
    <h3 class="div-title"><%= title %></h3>
    <p><%= bodyText %></p>
  </div>
  <div class="image-section">
    <img src=<%= imgPath %> alt=<%= imgAlt %>>
  </div>
</div>